
#apDiv1 {
	position: absolute;
	width: 808px;
	height: 47px;
	z-index: 1;
	left: 213px;
	top: 59px;
}
#apDiv2 {
	position: absolute;
	width: 553px;
	height: 312px;
	z-index: 2;
	left: 212px;
	top: 130px;
}
#apDiv3 {
	position: absolute;
	width: 223px;
	height: 291px;
	z-index: 3;
	left: 796px;
	top: 130px;
}
#apDiv4 {
	position: absolute;
	width: 816px;
	height: 38px;
	z-index: 4;
	left: 212px;
	top: 482px;
}
#apDiv5 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 5;
	left: 805px;
	top: 545px;
}
#apDiv6 {
	position: absolute;
	width: 199px;
	height: 291px;
	z-index: 3;
	left: 832px;
	top: 918px;
}
#apDiv7 {
	position: absolute;
	width: 569px;
	height: 290px;
	z-index: 6;
	left: 212px;
	top: 547px;
}
#apDiv8 {
	position: absolute;
	width: 821px;
	height: 35px;
	z-index: 7;
	left: 211px;
	top: 865px;
}
#apDiv9 {
	position: absolute;
	width: 212px;
	height: 291px;
	z-index: 3;
	left: 826px;
	top: 1237px;
}
#apDiv10 {
	position: absolute;
	width: 594px;
	height: 291px;
	z-index: 8;
	left: 213px;
	top: 920px;
}
#apDiv11 {
	position: absolute;
	width: 591px;
	height: 290px;
	z-index: 9;
	left: 213px;
	top: 1239px;
}
#apDiv12 {
	position: absolute;
	width: 199px;
	height: 291px;
	z-index: 3;
	left: 827px;
	top: 1551px;
}
#apDiv13 {
	position: absolute;
	width: 594px;
	height: 299px;
	z-index: 10;
	left: 212px;
	top: 1547px;
}
#apDiv14 {
	position: absolute;
	width: 212px;
	height: 291px;
	z-index: 3;
	left: 827px;
	top: 1867px;
}
#apDiv15 {
	position: absolute;
	width: 199px;
	height: 291px;
	z-index: 3;
	left: 830px;
	top: 2186px;
}
#apDiv16 {
	position: absolute;
	width: 595px;
	height: 298px;
	z-index: 11;
	left: 213px;
	top: 1867px;
}
#apDiv17 {	position: absolute;
	width: 212px;
	height: 291px;
	z-index: 3;
	left: 827px;
	top: 1867px;
}
#apDiv18 {
	position: absolute;
	width: 599px;
	height: 290px;
	z-index: 12;
	left: 213px;
	top: 2187px;
