/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
* { 
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 40px;
  color: #276E31; /*color de las letras*/
  background-color: #DDF0EA;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. barra de menu*/ 
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
 
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#contenidoprincipal{
  height: 100%;
}

/* Carousel base class PRIMERAimagen*/
.carousel {
  
  height: 430px; /* baja marco*/
  margin-bottom: 60px; /*Espacio carrusel y div*/
  padding-right: 10%;
  padding-left: 10%;
  border-left: 10%;


}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element TAMAÑO IMAGEN CAROUSEL */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0; /*cortar carrusel izquierda*/
  min-width: 100%;/*cortar carrusel derecha*/
  height: 400px;
  border:10px solid #FFFFFF;  /*Borde del carrusel */
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel  desplaza */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 0px 0; /* Space out the Bootstrap <hr> more */
  color: 
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo desplaza el menu */
  .navbar-wrapper {
    margin-top: 540px;

  }

  /*corta extremos del menu*/
  .navbar-wrapper .container {
    padding-right: 9.3%;
    padding-left: 9.3%;


  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    
  }

  /* The navbar becomes detached from the top, so we round the corners bordea el menu*/
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
