﻿<!DOCTYPE html>
<html>
<head>
    <title>Personitas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="icon" href="images/fav.ico">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/carousel.css")
    @Styles.Render("~/Content/estilos.css")
    @Styles.Render("~/Content/fonts.css")
   
    

</head>

<body>

    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/c.personitas?ref=ts&fref=ts" target="_blanck" class="icon-facebook3"></a></li>
            <li><a href="https://twitter.com/cepersonitas" target="_blanck" class="icon-twitter2"></a></li>
            <li><a href="https://plus.google.com/u/0/116860930431369545946/posts" target="_blanck" class="icon-google-plus2"></a></li>
            <li><a href="https://instagram.com/" target="_blanck" class="icon-instagram"></a></li>
            <li><a href="https://www.youtube.com/channel/UCpsQtS2Z06P1CkiaB3fSaww" target="_blanck" class="icon-youtube3"></a></li>
        </ul>
    </div>


    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                     </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Personitas", "Personitas", "Home")</li>
                            <li>@Html.ActionLink("Administracion", "Administracion", "Home")</li>
                            <li>@Html.ActionLink("Notas", "Search", "Home")</li>
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actividades <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Día del Niño", "niño", "Home")</li>
                                    <li>@Html.ActionLink("Día de la Familia", "fami", "Home")</li>
                                    <li>@Html.ActionLink("San Pedro", "San", "Home")</li>
                                    <li>@Html.ActionLink("Día del amor y la Amistad", "hallo", "Home")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <p>   </p>
                <img src="~/Images/l.png" alt="Generic placeholder image" width="100" height="100" class="img-rounded">
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <h1> <font face="Forte"> Centro Educativo PERSONITAS</font></></h1>
            </div><!-- /.col-lg-4 -->
            <p>   </p>
            <div class="col-lg-4">
                <img src="~/Images/e.gif" alt="Generic placeholder image" width="100" height="100" class="img-rounded">
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      

        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="~/Images/1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img class="second-slide" src="~/Images/2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img class="third-slide" src="~/Images/3.jpg" alt="Third slide">
                </div>
            </div>
        </div><!-- /.carousel -->
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        @RenderBody()


        <hr class="featurette-divider">

        <div class="row featurette">


            <div class="col-md-5">
                <a href="http://www.florencia-caqueta.gov.co/index.shtml#2" target="_blank"><center><img class="img-rounded" src="~/Images/9.png" alt="Generic placeholder image" width="250" height="250"></center></a>
            </div>

            <div class="col-md-3">
                <a href="http://www.mineducacion.gov.co/1621/w3-channel.html" target="_blank"><center><img class="img-rounded" src="~/Images/9.ico" alt="Generic placeholder image" width="250" height="250"></center></a>
            </div>

            <div class="col-md-3">
                <a href="http://www.icfes.gov.co/examenes/pruebas-saber" target="_blank"><center><img class="img-rounded" src="~/Images/10.png" alt="Generic placeholder image" width="250" height="210"></center></a>
            </div>
        </div>
    </div>


        <hr class="featurette-divider">

        <p><center>Dirección: Carrera 21 #13A-15 Barrio HABBAS TURBAY, Tel: 4353308-3142471604</center></p>
        <p><center>Atención al público: Lunes a Viernes de 7:00am a 12:00pm y 2:00pm a 6:00pm</center></p>
        <p><center>Florencia, Caquetá</center></p>
        <p><center>@DateTime.Now</center></p>

        <hr class="featurette-divider">

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/holder.min.js")
        @Scripts.Render("~/Scripts/ie10-viewport-bug-workaround.js")
        @RenderSection("scripts", required: false)


</body>
</html>