﻿@model ProyectoProgramacion.Models.Pagina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagina</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo_Pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo_Pagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Pagina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Pagina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
