﻿@model IEnumerable<ProyectoProgramacion.Models.Pagina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo_Pagina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Des_Pagina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo_Pagina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Des_Pagina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Pagina }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Pagina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Pagina })
        </td>
    </tr>
}

</table>
