﻿@model ProyectoProgramacion.Models.Actividad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actividad</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo_Actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo_Actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Pagina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Actividad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
