﻿@model IEnumerable<ProyectoProgramacion.Models.Actividad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo_Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Des_Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Pagina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo_Actividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Des_Actividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Pagina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Actividad }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Actividad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Actividad })
        </td>
    </tr>
}

</table>
