﻿@model ProyectoProgramacion.Models.Asignatura

@{
    ViewBag.Title = "Create";
}

<h2>Registrar Asignatura</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Asignatura</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2"> Nombre de la Asignatura</label>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Asig)
                @Html.ValidationMessageFor(model => model.Nombre_Asig)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
