﻿@model ProyectoProgramacion.Models.Docente

@{
    ViewBag.Title = "Crear";
}

<h2>Registrar Docente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Docente</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2"> Rol</label>            
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Rol, ViewBag.roles as SelectList)
                @Html.ValidationMessageFor(model => model.Id_Rol)
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2"> Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Docente)
                @Html.ValidationMessageFor(model => model.Nombre_Docente)
            </div>
        </div>

     

        <div class="form-group">
            <label class="control-label col-md-2"> Apellido</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido_Docente)
                @Html.ValidationMessageFor(model => model.Apellido_Docente)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Tipo de Documento</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo_Doc)
                @Html.ValidationMessageFor(model => model.Tipo_Doc)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Numero de Documento</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero_Doc)
                @Html.ValidationMessageFor(model => model.Numero_Doc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
