﻿@model ProyectoProgramacion.Models.Docente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Docente</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Doc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Docente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
