﻿@model IEnumerable<ProyectoProgramacion.Models.Docente>

@{
    ViewBag.Title = "Index";
}

<h2>Docente</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Docente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido_Docente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Rol)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Docente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_Docente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Rol)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Docente }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Docente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Docente })
            
            @Html.ActionLink("Carga  Academica", "Create", "CargaAcademica", new { id = item.Id_Docente}, null) |
        </td>
    </tr>
}

</table>
