﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administracion";
   
}




<div id="apDiv1">
    <div align="center">
        <h2>@ViewBag.Message[0].Titulo_Actividad</h2>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            @ViewBag.Message[0].Des_Actividad
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="~/Images/16.jpg" width="226" height="291">
    </div>
</div>

<div id="apDiv4">
    <div align="center">
        <h2>@ViewBag.Message[1].Titulo_Actividad</h2>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            @ViewBag.Message[1].Des_Actividad
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="~/Images/20.jpg" width="224" height="294">
    </div>
</div>

<div id="apDiv4">
    <div align="center">
        <h2>@ViewBag.Message[2].Titulo_Actividad</h2>
    </div>
</div>

<br />

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            @ViewBag.Message[2].Des_Actividad
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="~/Images/17.jpg" width="212" height="294">
    </div>
</div>
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            @ViewBag.Message[3].Des_Actividad
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="~/Images/21.jpg" width="212" height="290">
    </div>
</div>
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            @ViewBag.Message[4].Des_Actividad
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="~/Images/18.jpg" width="213" height="296">
    </div>
</div>
<br />
<br />



