﻿@{
    ViewBag.Title = "Día de la Familia";
}

@foreach (var item in ViewBag.Message)
{

    <div id="apDiv1">
        <div align="center"><h2>@item.Titulo_Actividad</h2></div>
        <p class="lead" align="justify">
            @Html.Raw(item.Des_Actividad)
        </p>
    </div>
    <br />

    <div class="row featurette">
        <div class="col-md-4 col-md-push-2">
            <img src="~/Images/a.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
        <div class="col-md-4 col-md-push-3">
            <img src="~/Images/d.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
    </div>
    <br />
    <br />
    <div class="row featurette">
        <div class="col-md-4 col-md-push-2">
            <img src="~/Images/b.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
        <div class="col-md-4 col-md-push-3">
            <img src="~/Images/s.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
    </div>

    <br />

}