﻿@{
    ViewBag.Title = "Día del Amor y la Amistad";
}



@foreach (var item in ViewBag.Message)
{

    <div id="apDiv1">
        <div align="center"><h2>@item.Titulo_Actividad</h2></div>
        <p class="lead" align="justify">
            @Html.Raw(item.Des_Actividad)
        </p>
    </div>

    <div class="row featurette">
        <div class="col-md-4 col-md-push-2">
            <img src="~/Images/g.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
        <div class="col-md-4 col-md-push-3">
            <img src="~/Images/r.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
    </div>
    <br />
    <br />
    <div class="row featurette">
        <div class="col-md-4 col-md-push-2">
            <img src="~/Images/k.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
        <div class="col-md-4 col-md-push-3">
            <img src="~/Images/h.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
        </div>
    </div>

}