﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <h3> <strong>@ViewBag.Message[0].Titulo_Actividad</strong></h3>
        <img src="images\ma.jpg" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">@ViewBag.Message[0].Des_Actividad</p>
    </div>

    <div class="col-md-4 col-md-push-3">
        <h3><strong>@ViewBag.Message[1].Titulo_Actividad</strong></h3>
        <img src="images\cc.png" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">@ViewBag.Message[1].Des_Actividad</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <h3><strong>@ViewBag.Message[2].Titulo_Actividad</strong> </h3>
        <img src="images\aa.jpg" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">@ViewBag.Message[2].Des_Actividad</p>
    </div>

    <div class="col-md-4 col-md-push-3">
        <h3> <strong>@ViewBag.Message[3].Titulo_Actividad</strong></h3>
        <img src="images\bb.jpg" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">@ViewBag.Message[3].Des_Actividad</p>
    </div>
</div>