﻿@model IEnumerable<ProyectoProgramacion.Controllers.NotaExt>

@{
    ViewBag.Title = "notas";
}

<!-- Encabezado-->

<div class="row featurette">
    <div>
        <p align="center"> CENTRO EDUCATIVO PERSONITAS</p>
        <p align="center">RES. 0108 DEL 22 DE    FEBRERO 2010</p>
        <p align="center">CÓD. DANE  318001003275</p>
        <p align="center">TEL. 4353308-3142471604</p>
        <p align="center">FLORENCIA - CAQUETÁ</p>
        <p align="center">AÑO    LECTIVO 2015</p>
    </div>

    <!--tabla de materias-->



    <div class="row">

        <div class="col-xs-1">


        </div>

        <div class="col-lg-10">

            <div class="table-responsive">


                <table class="table table-bordered" width="480" align="center">
                    <tr>
                        <td width="300">NONBRE DEL ESTUDIANTE:</td>
                        <td width="300">@string.Join(" ", ViewBag.Estudiante.Nombre_Estu, ViewBag.Estudiante.Apellido_Estu)</td>
                    </tr>
                    <tr>
                        <td width="300">GRADO:</td>
                        <td width="300">@ViewBag.Grado.Nombre_Grado</td>
                    </tr>

                    <tr>
                        <td width="300"><div align="center">ASIGNATURA</div></td>
                        <td width="300"><div align="center">NOTA</div></td>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="300">@item.Nombre_Asig.ToUpper()</td>
                            <td width="300">@item.valor</td>
                        </tr>
                    }


                </table>
            </div>
        </div>

        <div class="col-xs-1">


        </div>

    </div>
