﻿@{
    ViewBag.Title = "Personitas";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Begin page content -->
<div class="container" align="center">
    <div class="page-header" align="center">
        <h1>@ViewBag.Message[0].Titulo_Actividad</h1>
    </div>
    <p class="lead" align="justify">@ViewBag.Message[0].Des_Actividad</p>
</div>**
<div class="container" align="center">
    <div class="page-header">
        <h1>@ViewBag.Message[1].Titulo_Actividad</h1>
    </div>
    <p class="lead" align="justify">@ViewBag.Message[1].Des_Actividad</p>
</div>
<br />
<br />
