﻿@model ProyectoProgramacion.Models.Estudiante

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar Estudiante</h2>
<img src="~/Images/b.png" alt="Generic placeholder image" width="300" height="250" class="img-rounded">

@using (Html.BeginForm()) 
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Nombre_Estu, new { @class = "form-control", @required = true, @autofocus = true })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

