﻿@model ProyectoProgramacion.Models.Notas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Notas</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2"> Seleccione el Grado</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Grado, ViewBag.grados as SelectList)
                @Html.ValidationMessageFor(model => model.Id_Grado)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Id_Asignatura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Asignatura, ViewBag.asignaturas as SelectList)
                @Html.ValidationMessageFor(model => model.Id_Asignatura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Estudiante, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Estudiante, ViewBag.estudiantes as SelectList)
                @Html.ValidationMessageFor(model => model.Id_Estudiante)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.valor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.valor)
                @Html.ValidationMessageFor(model => model.valor)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
