﻿@model ProyectoProgramacion.Models.Notas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notas</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Asignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Asignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Estudiante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Notas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
