﻿@model ProyectoProgramacion.Models.Notas

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Notas</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id_Notas)

        <div class="form-group">
            @Html.LabelFor(model => model.valor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.valor)
                @Html.ValidationMessageFor(model => model.valor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Asignatura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Asignatura)
                @Html.ValidationMessageFor(model => model.Id_Asignatura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Estudiante, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Estudiante)
                @Html.ValidationMessageFor(model => model.Id_Estudiante)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
