﻿@model IEnumerable<ProyectoProgramacion.Models.Notas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Asignatura)            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Grado)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Id_Estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Asignatura)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Notas }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Notas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Notas })
        </td>
    </tr>
}

</table>
