﻿@model ProyectoProgramacion.Models.CargaAcademica

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CargaAcademica</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Grado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Grado)
                @Html.ValidationMessageFor(model => model.Id_Grado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Docente, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Docente)
                @Html.ValidationMessageFor(model => model.Id_Docente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Asinatura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Asinatura)
                @Html.ValidationMessageFor(model => model.Id_Asinatura)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
