﻿@model ProyectoProgramacion.Models.Estudiante

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Estudiante</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Grado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Grado, ViewBag.grados as SelectList)
                @Html.ValidationMessageFor(model => model.Id_Grado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_Estu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Estu)
                @Html.ValidationMessageFor(model => model.Nombre_Estu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido_Estu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido_Estu)
                @Html.ValidationMessageFor(model => model.Apellido_Estu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
