﻿@model ProyectoProgramacion.Models.Estudiante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estudiante</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Grado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Estu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Estu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Estu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Estu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Estudiante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
