﻿@model IEnumerable<ProyectoProgramacion.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Estu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido_Estu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Estu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_Estu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Estudiante }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Estudiante }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Estudiante })
            |
        </td>
    </tr>
}

</table>
