﻿@model ProyectoProgramacion.Models.Grado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grado</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Grado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Grado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
